.center-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .product-card, .review-card, .faq-card {
    width: 500px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }
  
  .product-image img {
    width: 500px;
    height: 500px;
    // height: auto;
    border-radius: 10px;
  }
  
  .heart-icon {
    font-size: 24px; /* Adjust as needed */
    color: #ff4081; /* Or any other color you prefer */
    transition: transform 0.3s ease; /* Smooth transition on hover */
    
    &:hover {
      transform: scale(1.2); /* Scale up on hover */
      color: #ff6699; /* Change color on hover */
    }
  }
  
  .product-details h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .description, .price, .category, .rating, .username, .question, .answer {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .section-heading {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .review-card, .faq-card {
    display: flex;
  
    .review-image, .faq-details {
      margin-right: 20px;
      img {
        max-width: 100px;
        height: auto;
        border-radius: 10px;
      }
    }
  
    .review-details, .faq-details {
      h2 {
        font-size: 20px;
        color: #333;
        margin-bottom: 10px;
      }
    }
  }
  